{% extends "base.html" %}

<!--Here we insert an extention for the base styling, using jinja syntax-->
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style_advanced.css') }}">
{% endblock %}

<!--Specific content for a beginner learners comes here-->

{% block extra_content %}
	<div class="vocabularly">
		<h3>Useful Vocabularly</h3>
		<ul>
			{% for word in vocabularly %}
				<li><strong>{{ word.term }}:</strong> {{ word.definition }}</li>
			{% endfor %}
		</ul>
	</div>
{% endblock%}

