{% extends "base.html" %}

<!--Here we insert an extention for the base styling, using jinja syntax-->
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style_medium.css') }}">
{% endblock %}

<!--Specific content for a beginner learners comes here-->
{% block extra_content %}
    <div class="exercises">
        <h3>Critical Thinking Questions</h3>
        <p>Answer the following in the box below:</p>
        <p><em>{{ question }}</em></p>
        <textarea name="response" rows="5" placeholder="Write your thoughts here..."></textarea>
    </div>
{% endblock %}